.buttons button {
    background: none;
    border: none;
    outline: none;
    font-size: 10vw;
}
.slide {
    width: 100% !important;
    position: absolute;
    transition: left 2s;
}

.slides {
    width: 100%;
    position: relative;
}

.carousel {
    width: 100%;
    overflow: hidden;
    height: auto;
    display: flex;
    flex-direction: column;
}

.control1 {
    width: 30%;
    height: 80%;
    z-index: 11;
    position: absolute;
    left: 0;
}

.control2 {
    width: 30%;
    height: 80%;
    z-index: 11;
    position: absolute;
    left: 70%;
}