.backward {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: 11;
}
.sign {
    width: fit-content;
    height: fit-content;
    padding: 3%;
    border-radius: 10px;
    background-color: white;
    position: fixed;
    z-index: 22;
    left: 0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    top: 20%;
}
.form {
    position: relative;
}
.searchs {
    top: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    position: absolute;
    background-color: white;
    width: 100%;
    padding: 1vw;
}
.image {
    width: 50px;
    height: 75px;
}
.image img {
    width: 100%;
    height: 100%;
}